* {
  font-family: "Bebas Neue", cursive;
  font-family: "Fira Sans", sans-serif;
  background-color: coral;
}

.container-startpage,
#title-gameboard {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 45px;
}

h1 {
  color: antiquewhite;
}

.player-wins {
  font-size: 30px;
}
#winner {
  text-align: center;
  opacity: 0;
  color: antiquewhite;
}

.gamesquares {
  border: 1px solid black;
  display: grid;
  background-color: blue;

  grid-template-columns: repeat(7, 3fr);
  grid-template-rows: repeat(7, 3fr);
  height: 800px;
  width: 800px;
  justify-items: center;
  align-content: center;
}

.squares,
.squares-click {
  display: grid;
  width: 90%;
  height: 90%;
  justify-items: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
}

.squares-click {
  background-color: white;
}

.squares-click:hover {
  background-color: greenyellow;
}

.container-1-gameboard,
.container-2-gameboard {
  display: flex;
  justify-content: space-around;
}

.container-3-gameboard {
  display: flex;
  justify-content: flex-end;
}

.start-page {
  list-style: none;
  display: inline;
}
