.container-startpage,
#title-gameboard {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.gamesquares {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 800px;
  width: 800px;
  justify-items: center;
  align-content: center;
}

.squares {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;

  border: 3px solid rgba(0, 0, 0, 0.8);
}
.container-1-gameboard,
.container-2-gameboard {
  display: flex;
  justify-content: space-around;
}

.container-3-gameboard {
  display: flex;
  justify-content: flex-end;
}
